
.hidden{
  display:none;
}
.shown{
  display:inline-block;
}

.filter-section{
  border:1px solid black;
  display:inline-block;
  float:right;
  padding:10px;
  position:relative;
  margin-right:10%;
}
.slideshow{
  display:inline-block;
  width:600px;
  height:100%;
  margin-left:20%;
  border:1px solid black;
  padding:5px;
}
